@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');
:root {
    --primary-color: #1ABC9C;
    --secondary-color: #2C3E50;
    --third-color: #f5f7f8;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

.container-header {
    background-color: var(--secondary-color);
    margin-bottom: 0;
}

.container-header__title {
    text-transform: uppercase;
    color: var(--third-color);
    font-weight: bold;
}

.container-header__button {
    background-color: var(--primary-color);
}

.container-header__span {
    color: var(--third-color);
    font-weight: 600;
}

.container-header__nav {
    margin: 0;
}

.container-header__lista {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 0;
}

.container-header__link {
    text-align: center;
    border-bottom: 1px solid var(--third-color);
    color: var(--third-color);
    font-weight: 600;
}

.container-header__link:hover {
    color: var(--primary-color);
}

@media all and (min-width: 600px) {
    .container-header__nav {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
    .container-header__lista {
        display: flex;
        flex-flow: row nowrap;
    }
    .container-header__link {
        text-align: center;
        border: none;
        font-weight: bold;
        font-size: 1.5rem;
    }
}